<div class="cartouche">
        
      <h2>{{ detail.categorie }}</h2>
      <hr>
      <span>$</span><strong>{{ detail.prix }}</strong>
      
    <div class="mo">/MO</div>
      <p>Billed annually or $10 month-to-month.</p>
      
            </div>