<table>

   <tr>

       <th>Clients</th>

       <th>Commandes</th>

       <th>Produits</th>

   </tr>

   <tr>

       <td>Carmen</td>

       <td>33 ans</td>

       <td>Espagne</td>

   </tr>

   <tr>

       <td>Michelle</td>

       <td>26 ans</td>

       <td>États-Unis</td>

   </tr>

</table>