{% extends "base.html.twig" %}

{% block body %}
{% for produit in userlisteproduit%}
    
    <br/>
    {{ produit.categorie }}
    {{ produit.prix }}
    
<a href="{{ path('delete_panier', {'id': produit.id}) }}">supprimer du panier !</a>
{% endfor %}

{% endblock body %}